$space-amount: (5, 10, 20);
$sides: (top, right, bottom, left);

@each $space in $space-amount {
  @each $side in $sides {
    .m#{str-slice($side, 0, 1)}#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  }
}
