// colors
$link: #1890ff;
$success: #00a65a;
$error: #f56954;
$warning: #ea991b;

$black: #000000;
$gray-dark: #9d9d9d;
$gray: #cccccc;
$gray-light: #aaaaaa;
$gray-lighter: #f9f9f9;
$white: #ffffff;

$btn-red: #ff8080;
$btn-red-hover: #ff4c4c;
$btn-red-dark: #a31414;
$btn-red-dark-hover: #700000;

$btn-blue: #79caf2;
$btn-blue-hover: #49baf2;
$btn-blue-dark: #0044a3;
$btn-blue-dark-hover: #002f70;

$btn-green: #90EE90;
$btn-green-hover: #008000;

$btn-black: #808080;
$btn-black-hover: #666666;

// spaces
$space-sm: 5px;
$space-md: 10px;
$space-lg: 20px;
$space-xl: 40px;

// sizes
$default: 15px;
$font-lx: 36px;
$font-lg: 28px;
$font-md: 24px;
$font-sm: 18px;
$font-default: $default;
$font-xs: 12px;
